# Binaries and object files
**/bin/
**/obj/

# Visual Studio
.vs/
*.sln.user
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/
*.code-workspace

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet
*.nupkg
*.snupkg
.nuget/

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml

# Local environment files
.env
.env.local
